@model List<ProductViewModel>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model) {
            <tr>
                <td>
                    @product.ID
                </td>
                <td>
                    @product.Name
                </td>
                <td>
                    @product.Cost
                </td>
                <td>
                    <a asp-action="Index" asp-controller="Product" asp-route-prodCategoryID="@product.ProductCategoryID"> @product.ProductCategoryName</a>
                </td>
                <td>
                    <a href="~/product/edit/@product.ID">Edit</a>
                    <!--
                    -->
                        
                    <a href="~/product/delete/@product.ID">Delete</a>    
                </td>
            </tr>
        }
    </tbody>
</table>